{% include 'users/endusers/user_navbar.html' %}

{% block content %}
<script type="text/javascript">
$(function(){
    var $select = $(".1-100");
    for (i=1;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
});
</script>

<div class="container">
    <br>
    <h2 class="text-center">Place an Order</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Category </label>
        <select name="order_cat" class="form-control">
            {% for i in order %}
            <option value="{{i.category}}">{{i.category}} </option>
            {% endfor %}
        </select>
        <label>Product</label>
        <select name="order_prod" class="form-control">
            {% for i in order %}
            <option value="{{i.product}}">{{i.product}} </option>
            {% endfor %}
        </select><br>
        <label>Quantity</label>
        <select class="1-100" name="order_quan"></select>
        <br>
        <br>
        
        <input type="submit" onclick="alert('Order Placed')" value="Request" class="form-control btn btn-primary">
        
    </form>

</div>

{% endblock content %}