
{% if request.user.is_superuser %}

    {% include 'users/admin/admin_navbar.html' %}

{% elif request.user.is_staff %}

    {% include 'users/moderators/mod_navbar.html' %}

{% elif request.user.is_active %}

    {% include 'users/endusers/user_navbar.html' %}

{% endif %}


{% load crispy_forms_tags %}

{% block content %}
<center>
<html>
<title>
    Profile
</title>
    <head>
       <style>
        table, th, td { border: 2px solid black; width: 35%; }
        th, td { padding: 15px; }
       </style>
    </head>
    <body>  
        <div>
            <br>
            
            <h2 class="text-center"> {{ user.username }} profile</h2><br>
                <table>
                    <thead>
                        <tr>
                          <th>Name</th>
                          <td>{{user.username}}</td>
                        </tr>
                        <tr>
                          <th>Email</th>
                          <td>{{user.email}}</td>
                        </tr>
                        <tr>
                          <th>Mobile</th>
                          <td>{{user.phone}}</td>
                        </tr>
                        <tr>
                          <th>Address</th>
                          <td>{{user.address}}</td>
                        </tr>
                        <tr>
                          <th>Date joined</th>
                          <td>{{user.date_joined}}</td>
                        </tr>                   
                </table>
        </div>
    </body>
</html>

</center> 
{% endblock %}