
{% include 'users/home.html' %}

{% load crispy_forms_tags %}         

{% block content %}

<div class="container py-5">
<center><h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3></center>

<form method="POST" autocomplete="chrome-off">
{% for choice in choices %}

{% if choice == 0 %}
	
		{% csrf_token %}
		{{ Admin_Form|crispy }}     

{% elif choice == 1 %}
	
		{% csrf_token %}
		{{ Mod_Form|crispy }}         
		
{% else %}
	
		{% csrf_token %}
		{{ User_Form|crispy }} 
		                  
{% endif %}

{% endfor %}
<br>
<button class="btn btn-primary" onclick="swal('Welcome', 'Registered successfully', 'success')" type="Submit" value="Submit">Submit</button> 

</form>
<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>

</div>
{% endblock %}