{% include 'users/admin/admin_navbar.html' %}

{% block content %}

<div class="container" style="margin-top: 50px;">
    <h1 class="text-center">Post Requirements</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Category</label>
        <input type="text" class="form-control" name="category" required> 
        <label>Product</label>
        <input type="text" class="form-control" name="product" required>
        <label>Quantity</label>
        <input type="text" class="form-control" name="quantity" required>
        <br>
        <input type="submit" onclick="alert('Requirements Posted')" value="POST" class="form-control btn btn-primary">
        
    </form>

</div>

{% endblock content %}