{% include 'users/moderators/mod_navbar.html' %}

{% block content %}
<html>
<head>
    <meta charset="utf-8">
    <title>MODERATOR</title>
</head>
<body>
    <div class="container">
     
    {% if user.is_authenticated %}
    Hi Moderator
     
    {% else %}
    <div class="row">
        <p class="col-md-3">You are not logged in</p>
        <a href="/login">Log In</a>
    </div>
    {% endif %}
    </div>
    <script> swal("You are logged in as Moderator!"); </script>
</body>
</html>

{% endblock %}
 