{% include 'users/moderators/mod_navbar.html' %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  width: 100%;
}
thead{
    background-color: #3a96ba;
}
tbody
{ 
   background-color: #fff;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px 20px 10px 10px;  
}

 
</style>
<div class="container">
    <br><br>
    <center>
    <h2 class="text-center">Available Requirements</h2><br>
    <form method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Approval Status</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {% for i in order %}
                <tr>
                    <td>{{i.order_id}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.product}}</td>
                    <td>{{i.quantity}}</td>
                    <td>
                    {% if i.approved_status == 0 %}
                    <a href="{% url 'approved' order_id=i.order_id %}" name="approve" class="btn btn-warning">Approve</a>
                    <a href="{% url 'declined' order_id=i.order_id %}" name="decline" class="btn btn-warning">Decline</a>
                    {% elif i.approved_status == 1 %}
                    <button name="approve" disabled=disabed class="btn btn-success">Approved</button>
                    {% else %}
                    <button name="decline" disabled=disabed class="btn btn-danger">Declined</button>
                    {% endif %}
                    </td>
                    <td>
                     <select name="reason">
                       <option value="Approved: Your requested has been approved">Approved: Your requested has been approved</option>
                       <option value="Rejected: Out of stock">Rejected: Out of stock</option>
                       <option value="Rejected: Unavailabilty of sufficient quantity">Rejected: Unavailabilty of sufficient quantity</option>
                       <option value="Rejected: reason 3">Rejected: reason 3</option>
                     </select> 
                    <button type="submit" value="Submit" class="btn btn-primary" onclick="alert('Reason Updated')">Submit</button>
                    </td>
                </tr>
                <input type="hidden" name="order_id" value="{{ i.order_id }}">
                {% endfor %}
            </tbody>
        </table>    

        <br>
        <br>
    </form>
    </center>

</div>

{% endblock content %}